body, #root, .ui.page {
    height: 100%;
    background: #2c3e50;
}
.ui.header {
    color: wheat;
}

.ui.page.dashboard {
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.ui.page.dashboard .menu.inverted  {
    border-radius: 0px;
}
.dashboard-header {
    margin-bottom: 10px;
}
.ui.page.dashboard .item {
    padding: 0.508571em 1.14285714em;
    color: lightsteelblue;
}

.ui.page.dashboard .item:hover {
    color: ghostwhite;
}

.ui.page.dashboard .item.active:hover {
    color: black;
}

.ui.page.dashboard .item>i.icon {
    margin: 4px .35714286em 0px 5px;
    font-size: 0.9em;
}

.plus.icon:hover {
    color: navajowhite;
}

.ui.page.dashboard .item>i.icon:hover {
    color: orange;
}


.dashboard-container {
    height: 100%;
    margin: 10px;
}

.ui.segment.active.tab.tab-container {
    margin-top: 0px;
    border: none;
    border-radius: 0px;
}

.tab-container {
    height: 100%;
}

.tab-component {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#radish-header {
    margin: 20px;
}

#radish-header img.logo {
    margin: 15px;
}

#radish-header div.content {
    color: wheat;
}


/*
* App Tap Form styles
*/

.app-tap-form {
    display: flex;
    flex-basis: 50%;
}

.app-tap-form .controls {
    width: 100%;
    padding: 8px 15px;
}

.app-tap-form .action {
    display: flex;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.app-tap-form .action button {
    margin-top: 5px;
}

.app-tap-form .ui.form .fields .field {
    margin-right: 15px;
}